 .maqueta {
     display: inline-grid;
     width: 100%;
     grid-template-rows: 450px 350px 250px 300px 400px 150px 400px 300px 300px 300px 100px 50px;
     grid-template-columns: 20% 20% 5% 5% 20% 20%;
     grid-template-areas: "title title title video video video" "feat feat feat feat feat feat" "tools tools tools tools  tools tools" "cli grow grow grow grow grow" "tab tab tab tab tab tab" "pow pow pow pow pow pow" "mat mat mat mat mat mat" "pan1 pan1 pan1 pan2 pan2 pan2" "pan3 pan3 pan3 pan4 pan4 pan4" "start start start start start start""foot foot foot foot foot foot" "end end end end end end";
     gap: 1%;
     justify-content: center;
 }
 
 .center {
     justify-content: center;
     align-items: center;
     display: flex;
 }
 /*Grid Areas*/
 
 .maqueta>#title {
     grid-area: title;
 }
 
 .maqueta>#video {
     grid-area: video;
 }
 
 .maqueta>footer {
     grid-area: foot;
     background-color: #8cffa0;
 }
 
 .maqueta>#features {
     grid-area: feat;
     text-align: center;
     margin: 3em 1.5em 3em 1.5em;
 }
 
 .maqueta>#tools {
     grid-area: tools;
     background-color: #8cffa0;
 }
 
 .maqueta>aside {
     grid-area: cli;
     background-color: #8cffa0;
 }
 
 .maqueta>#grow {
     grid-area: grow;
     background-color: #8cffa0;
 }
 
 .maqueta>#tab {
     grid-area: tab;
     background-color: #8cffa0;
 }
 
 .maqueta>#pow {
     grid-area: pow;
     background-color: #8cffa0;
 }
 
 .maqueta>#mat {
     grid-area: mat;
     background-color: #8cffa0;
 }
 
 .maqueta>#pan1 {
     grid-area: pan1;
     background-color: #8cffa0;
 }
 
 .maqueta>#pan2 {
     grid-area: pan2;
     background-color: #8cffa0;
 }
 
 .maqueta>#pan3 {
     grid-area: pan3;
     background-color: #8cffa0;
 }
 
 .maqueta>#pan4 {
     grid-area: pan4;
     background-color: #8cffa0;
 }
 
 .maqueta>#start {
     grid-area: start;
     background-color: #8cffa0;
 }
 
 .maqueta>#end {
     grid-area: end;
     background-color: black;
 }
 /*Elementos header */
 
 header {
     display: flex;
     width: 100%;
     color: darkgreen;
     align-items: center;
     justify-content: space-evenly;
     margin: 40px 10px 50px 10px;
 }
 
 nav {
     width: 70%;
     text-align: center;
     justify-content: space-evenly;
 }
 
 ul {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     list-style: none;
 }
 
 .linkcolor {
     color: #025157;
     font-weight: bold;
     font-family: sans-serif;
 }
 
 .linkcolor:hover {
     text-decoration: underline;
 }
 
 a:link {
     text-decoration: none;
 }
 
 .pic {
     width: 15%;
 }
 
 select {
     border: none !important;
 }
 
 button {
     font-family: sans-serif;
     color: white;
     background-color: #025157;
     border-radius: 10px;
     padding: 10px;
     margin: 5px;
     border: none;
 }
 
 .actions {
     width: 15%;
 }
 /*Estilos seccion*/
 
 h2 {
     color: #025157;
 }
 
 .principal {
     text-align: left;
     font-size: 3.5em;
     margin: 2%;
     font-weight: bolder;
     font-family: sans-serif;
 }
 
 p {
     color: dimgray;
     font-weight: bold;
     margin: 2%;
     font-size: 1em;
 }
 
 .pic>img {
     width: 100%;
 }
 
 #video>img {
     width: auto;
 }
 
 #linef {
     display: flex;
     justify-content: space-between;
     margin: 4em;
 }
 
 #linef>img {
     width: auto;
 }